# db
HOST=127.0.0.1
USER=root
PASSWORD=password
DB=db_name

#redis
REDIS_URL=redis://default@127.0.0.1:6379
#s3
ACCESS_KEY=acces_key
SECRET_KEY=secret_key
ENDPOINTS=endpoints
SUBDOMAIN=subdomain || domain

#JWT SECRET TOKEN

SECRET_TOKEN=.......